.body {
  height: 100%;
  background-color: black;

  display: flex;

  .chat-list {
    background-color: white;
    width: 20%;
  }

  .chat {
    background-color: rgb(200, 14, 14);
    min-width: 100%;
  }
}

.example-container {
  height: 100%;

}

.example-sidenav-content {
  height: 100%;
}
.example-spacer{
  width: 100%;
}

.m-controlls {
  display: flex;
  flex-direction: column;
  height: 130px;
  justify-content: space-between;
  padding: 15px;
}
